@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;1,400&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  background: #fdfffc;
  margin-top: 0;
  margin-bottom: 0;
}

.shadow-object {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(1, 22, 39, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(1, 22, 39, 1);
  box-shadow: 0px 0px 2px 0px rgba(1, 22, 39, 1);
}

.header {
  margin-top: 0;
  background: #011627;
  padding: 16px 160px;
  position: sticky;
  top: 0;
}

.content {
  width: 60%;
  margin: 0 auto;
}

.navigation__link {
  color: #FF9F1C;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.navigation__link:hover {
  color: #aaa;
}

.navigation__link--current {
  font-weight: 700;
}

.introduction {
  background-color: #2ec4b6;
  padding: 16px;
}

.introduction__text--header {
  margin-top: 0;
}

.introduction__picture {
  float: left;
  border-radius: 5%;
  height: 200px;
  margin-right: 16px;
}

.introduction__clear {
  clear: left;
}

.notes {
  color: #011627;
}

.notes__week-summary {
  padding: 16px;
  margin-bottom: 20px;
  background-color: #2EC4B6;
}

.notes__week-summary--title {
  color: #E71D36;
}

.notes__week-summary--latest {
  border: 1px #333 solid;
}

.footer {
  background-color: #011627;
  color: #FF9F1C;
  text-align: center;
  padding: 16px;
}
